.containerSecurity{
    display: flex;
    flex-direction: column;
}

.textSecurity{
    font-size: 12px;
    padding: 5px;
}

.sectionDownSecurity{
    display: flex;
    width: 200px;
    margin-top: 15px;
}

.iconSecurity{
    font-size: 38px;
    padding: 5px;
}

.text2Security{
    font-size: 12px;
    padding: 5px;
}