@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');

:root {
    // fonts
    --font-default: "Ubuntu", sans-serif;
  
    // main colors
    --black: #000000;
    --white: #FFFFFF;
    --gray-dark: #403D3D;
  
    //border radius
    --round: 4px;
  }