.notFound{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.notFound-img{
    width: 40%;
}

.notFound-paragraph{
    font-size: 18px;
    margin: 10px;
}

.notFound-logoBlack{
   width: 180px;
   height: 120px;
}