.containerButtonMore{
    display: flex;
    justify-content: center;
}

.iconButtonMore{
    color: var(--gray-dark);
    font-size: 14px;
}

.textButtonMore{
    color: var(--gray-dark);
    font-size: 14px;
    margin-left: 6px;
}