.header{
width: 100%;
display: flex;
justify-content: space-around;
align-items: center;
background: rgb(0,110,171);
background: linear-gradient(180deg, rgb(14, 128, 189) 0%, rgb(102, 157, 184) 100%);
background-repeat: no-repeat;
}

.logoHeader{
width: 140px;
}